.home-content {
    display: flex;
    background-color: white;
    color: black;
}

.profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'KoHo', sans-serif;
}
  
.nav {
    display: flex;
    position: relative;
    width: 300px;
    height: 100vh;
    background: #FFFFFF;
    padding-top: 100px;
}

.nav ul {
    list-style-type: none;
    width: 100%;
    flex-flow: column;
  }

.nav li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin: 25px;
    font-family: 'KoHo', sans-serif;
    display: block;
}
  
  /* Change the link color on hover */
  .nav li a:hover {
    background-color: #555;
    color: white;
  }

.top-banner {
    background-image: url("https://images.unsplash.com/photo-1477468572316-36979010099d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5952cbb9337a4fea09380091f6a90f5c&auto=format&fit=crop&w=2089&q=80");
    width: 100%;
    height: 400px;
    position: relative;
    clip-path: ellipse(100% 80% at 60% 20%);
}
  
.appointment p {
    font-family: KoHo;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    color: #3B2727;
    margin: 50px;
}

.top-banner p {
    text-transform: capitalize;
    font-family: 'KoHo', sans-serif;
    margin: 50px;
    padding: 15px;
    color: white;
    font-size: 80px;
}
  
.top-banner .fade { 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 100px; 
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%) repeat scroll 0 0;  
}
  
h1 {
    font-family: 'KoHo', sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -2px;
    margin: 15px;
    line-height: 1;
    text-shadow: #EDEDED 1px 1px 0;
} 
  
.introform {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    width: 50%;
    height: 50%;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
  
.formTitle {
    color:whitesmoke;
    margin: 50px 10px;
}

.googCal {
    font-family: KoHo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 2.4px;
    padding: 20px 10px 5px;
    color: #535353;
}

.healthinfo-content h2 {
    font-family: KoHo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2.4px;
    padding: 20px 10px 5px;
    color: #535353;
    
}

.facts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 15px;
}

.facts li {
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    width: 33%;
    font-family: 'KoHo', sans-serif;
}

.yourHealth {
    font-family: KoHo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 2.4px;
    padding: 20px 10px 5px;
    color: #535353;
}

.profile-page ul {
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
}

.cancerCards {
    font-family: 'KoHo', sans-serif;
    width: 95%;
    height: 237px;
    margin: 15px;
    padding: 25px;
    background: rgba(255, 210, 224, 0.42);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
}

.basicInfo {
    font-family: 'KoHo', sans-serif;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
}

.basicInfo img {
    width: 100px;
    height: 100px;
}

.risks {
    font-family: 'KoHo', sans-serif;
    display: flex;
    flex-direction: column;
    
}

