{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<head>    
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<section class="home-content">
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/doctor">Find a Doctor</a></li>
            <li><a href="/health">Your Health</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/bookappointment">Book Appointment</a></li>
        </ul> 
    </div>

    <div class=".profile-page">
            

    </div>
</section>


{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>

{% endblock %}