{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<head>    
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<section class="home-content">
  <div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="navDoctor">Find a Doctor</a></li>
        <li><a href="/health">Your Health</a></li>
        <li><a class="navCalendar">Calendar</a></li>
        <li><a class="navAppoint">Book Appointment</a></li>
      
    </ul> 
  </div>

  <div class="profile-page">
    <div class="top-banner"> 
        <p>Good <span class="time"></span>, {{session.username}}</p>
        <div class="fade"></div>
    </div>
      
      
    <div class="appointment">
      <p>Your next appointment is in 5 days, on August 16 at 3pm.</p>
    </div>

    <div class="healthinfo-content">
      <h2> DID YOU KNOW?</h2>
      <ul class="facts">
        <!-- onload there would be 3 random facts box -->
      </ul>
    </div>
    
  </div>

  
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
<script src="../static/js/home.js"></script>
{% endblock %}
