{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<style>

  h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -2px;
    margin: 15px;
    line-height: 1;
    text-shadow: #EDEDED 1px 1px 0;
  } 

.introform {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  width: 50%;
  height: 50%;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.formTitle {
  color:whitesmoke;
  margin: 50px 10px;
}

</style>

<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <h1>Welcome!</h1>
    <div class="introform">
      <div class="formTitle">
        Get Started! Please take 10 minutes to fill out this simple form.
        <a id="form-button" class="form-button button is-primary is-inverted is-outlined">Click Here</a>
      </div>
      </button>
    </div>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=bmluYS5odXV1QGdtYWlsLmNvbQ&amp;src=emhpbHVmZkBnbWFpbC5jb20&amp;color=%237CB342&amp;color=%239E69AF&amp;mode=WEEK&amp;showPrint=0&amp;showTz=0&amp;showNav=1&amp;showTitle=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
